/*BODY*/
.body{
	margin: 0 auto;
	width: 1060px;
	height: 100%;
	border-left: 1px ridge;
	border-right: 1px ridge;
	background: #ffffff;
}

/*LOGO*/

.logo{
	width: auto;
	height: 40px;
	margin-left: 40px;
	padding: 40px 0 50px 0;
}

/*MENU*/
.topmenu{
	margin-left: 45px;
	width: 966px;
	height: 40px;
	background: #4f4f4f;
}

.topmenu ul{
	margin: 0;
	padding: 0;
	position: relative;
}

.topmenu li{
	margin: 0 25px;
	
	list-style-type: none;
	float: left;
	position: relative;
	background: #4f4f4f;
}

.topmenu ul li a{
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	width: auto;
	display: inline-block;
	color: #ffffff;
	line-height: 40px;
}

.topmenu li:hover{
	background: #3f3f3f;
	border-left: 1px transparent #838383;
	border-right: 1px transparent #838383;
}

.topmenu li a.active{
	padding: 0 25px;

	background: #3f3f3f;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

/* CONTENT*/

.content{
	margin: 40px 48px 40px 0;
	width: 678px;
	height: 400px;
	float: right;
}

.img{
	margin: 0;
	padding: 0;
    border: 1px solid #c8c8c8;
}

.text{
	
	display: block;
	width: 678px;
	height: auto;
	float: right;
	margin: 0 40px  60px 0;
}
.container:after{
	display: block;
	content: '';
	clear: both
}

/*SIDEBAR*/

.nav{
	position: absolute;
	border: 1px solid #c8c8c8;
	width: 240px;
	margin: 40px 0 0  46px;
	float: left;
}

.nav li:last-child{ 
	border-bottom: none;
}

.main ul{
	position: relative;
}

.main li a{
	display: block;
	height: 40px;
	color: #7f7d7d;
	text-decoration: none;
	line-height: 40px;
	padding-left: 23px;
	border-bottom: 1px solid #c8c8c8;
}
.main li:hover a{
	background: #f9f9f9;
	padding-left: 36px;
	color: #000000;
}

.main A:active {
	background: #f9f9f9;
	margin-left: 35px;
	width: auto;
	color: #000000;
}

/*FOOTER*/

.footer{
	clear: both;
	display: block;
	margin: 0 auto 60px;
	width: 966px;
	background: #e1e1e1;
	position: relative;
	height: 40px;
}

.punkt li{
	float: left;
	margin-right: 25px;
}
.punkt li a{
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 40px;
	padding: 0 23px 0;
	color: #000000;
}	

.copy{
	display: block;
	float: right;
	color: red;
	line-height: 40px;
	margin-right: 25px;
	color: #000000;
}

.punkt li a.active{
	text-decoration: underline;
} 



